{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

   
</head>
<body>
    
    <div class="background-shapes">
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    
    <div class="container">
        <h1 class="header">Login</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="uname" class="form-label">Username</label>
                <input type="text" id="uname" class="form-control" name="uname" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <label for="upass" class="form-label">Password</label>
                <input type="password" id="upass" class="form-control" name="upass" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-custom mt-3">Login</button>
            <small class="form-text text-center mt-3">Don't have an account? <a href="/userregistration" style="color: #2e8b57;">Sign up</a></small>
        </form>
    </div>

   
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
